body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home */

.tituloCat {
  text-align: center;
}


.homestyle { 
  
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  background-color: black;
  height:100vh;
  
}


.homeOne h3  {
  color: white;
}

.homeOne h4  {
  color: white
}

/* .minilogo{
 
} */

.titulosCard{
  text-align: center;
  font-size: 40px;
}

.homebutton{
  display: flex;
  width:200px;
  height:200px;
}

/* perfil */
.profile{
  background-color: black;
  height:100vh;
  opacity: .8;
  display:flex;
}

.profilecard{
 height:30vh;
 width:20vw;

}

.bucketlist{
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 20vw;

}
.buckettitle{
  display:flex;
  color:white;
}

.bucketlistCard {
  color:white;
}

.userrekos{
align-content:flex-end ;
height: 25vh;
justify-content: flex-end;
}

/* .profilebutton{
  display:flex;
  color: black;
  background-color: darkgoldenrod;
  width: 20vw;
  flex-wrap: wrap;
  justify-items: end
  
} */

.botonesRating{
  display:inline;
}

.ant-list-item{
  width:30vw;
  height:15vh;
  
}



/* .ant-card-body{
height:100px;
} */

.footer{
  display:flex;
 align-content: space-between
}